projects/n8n-workflows/Chat_with_Memory_Optimized.json
{
  "name": "Chat with Memory - Optimized",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "options": {
          "noResponseBody": false
        },
        "responseHeaders": {
          "entries": [
            {
              "name": "Access-Control-Allow-Origin",
              "value": "*"
            },
            {
              "name": "Access-Control-Allow-Methods", 
              "value": "POST, OPTIONS"
            },
            {
              "name": "Access-Control-Allow-Headers",
              "value": "Content-Type, Authorization"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "webhookId": "chat-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "request-validation",
              "leftValue": "={{ $json.body.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "request-validator",
      "name": "Request Validator",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [200, 0]
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate incoming request\nconst body = $input.all()[0].json.body;\n\n// Validate required fields\nif (!body.message || typeof body.message !== 'string') {\n  throw new Error('Invalid message format');\n}\n\n// Generate session ID if not provided\nconst userId = body.user_id || 'anonymous';\nconst sessionId = body.session_id || `session_${userId}_${Date.now()}`;\nconst timestamp = new Date().toISOString();\n\n// Clean and prepare message\nconst message = body.message.trim();\n\nif (message.length === 0) {\n  throw new Error('Message cannot be empty');\n}\n\nif (message.length > 2000) {\n  throw new Error('Message too long. Maximum 2000 characters allowed.');\n}\n\nreturn {\n  message: message,\n  user_id: userId,\n  session_id: sessionId,\n  timestamp: timestamp,\n  chatInput: message,  // For AI Agent compatibility\n  original_request: body\n};"
      },
      "id": "message-processor",
      "name": "Message Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "model": "anthropic/claude-3-haiku",
        "options": {
          "maxTokens": 800,
          "temperature": 0.7
        }
      },
      "id": "openrouter-model",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [600, 200],
      "credentials": {
        "openRouterApi": {
          "id": "i5hdWqtSltjOwu03",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah asisten AI yang membantu dan ramah bernama Claude. Berikan jawaban yang informatif, akurat, dan berguna dalam bahasa Indonesia. \n\nPedoman:\n- Gunakan bahasa yang sopan dan profesional\n- Berikan konteks yang relevan berdasarkan percakapan sebelumnya\n- Jika tidak yakin tentang informasi, katakan dengan jujur\n- Berikan jawaban yang terstruktur dan mudah dipahami\n- Sesuaikan panjang jawaban dengan kompleksitas pertanyaan\n\n---\n\nUser ID: {{$json.user_id}}\nSession: {{$json.session_id}}\nWaktu: {{$json.timestamp}}\n\nPertanyaan Pengguna: {{$json.chatInput}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [600, 0],
      "id": "ai-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [720, 200],
      "id": "dynamic-memory",
      "name": "Dynamic Memory"
    },
    {
      "parameters": {
        "jsCode": "// Format successful response\nconst aiResponse = $input.all()[0].json;\nconst inputData = $('Message Processor').all()[0].json;\n\n// Extract AI response text\nlet responseText = '';\nif (aiResponse.output) {\n  responseText = aiResponse.output;\n} else if (aiResponse.text) {\n  responseText = aiResponse.text;\n} else {\n  responseText = JSON.stringify(aiResponse);\n}\n\n// Create response object\nconst response = {\n  status: 'success',\n  response: responseText,\n  user_id: inputData.user_id,\n  session_id: inputData.session_id,\n  timestamp: new Date().toISOString(),\n  message_id: `msg_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`,\n  metadata: {\n    model: 'anthropic/claude-3-haiku',\n    processing_time: Date.now() - new Date(inputData.timestamp).getTime(),\n    session_active: true\n  }\n};\n\nreturn response;"
      },
      "id": "response-formatter",
      "name": "Response Formatter", 
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "jsCode": "// Handle validation errors\nconst error = {\n  status: 'error',\n  error: 'Invalid request format',\n  message: 'Missing required field: message',\n  timestamp: new Date().toISOString(),\n  user_id: null,\n  session_id: null\n};\n\nreturn error;"
      },
      "id": "error-handler-validation",
      "name": "Validation Error Handler",
      "type": "n8n-nodes-base.code", 
      "typeVersion": 2,
      "position": [200, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-response-validation",
      "name": "Error Response - Validation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [400, 200]
    },
    {
      "parameters": {
        "jsCode": "// Handle processing errors\nconst inputData = $('Message Processor').all()[0]?.json || {};\nconst errorInfo = $input.all()[0]?.error || { message: 'Unknown error occurred' };\n\nconst error = {\n  status: 'error',\n  error: 'Processing failed',\n  message: errorInfo.message || 'An error occurred while processing your request',\n  timestamp: new Date().toISOString(),\n  user_id: inputData.user_id || null,\n  session_id: inputData.session_id || null,\n  retry_possible: !errorInfo.message?.includes('Invalid') && !errorInfo.message?.includes('too long')\n};\n\nreturn error;"
      },
      "id": "error-handler-processing",
      "name": "Processing Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 400]
    },
    {
      "parameters": {
        "respondWith": "json", 
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "error-response-processing",
      "name": "Error Response - Processing",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 400]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Request Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Validator": {
      "main": [
        [
          {
            "node": "Message Processor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Error Handler",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    },
    "Message Processor": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Processing Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Response Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Processing Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dynamic Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Response Formatter": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Processing Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Error Handler": {
      "main": [
        [
          {
            "node": "Error Response - Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processing Error Handler": {
      "main": [
        [
          {
            "node": "Error Response - Processing", 
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": {
      "active": false
    }
  },
  "versionId": "optimized-v1.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "optimized-chat-workflow"
  },
  "id": "OptimizedChatWorkflow",
  "tags": ["chatbot", "ai", "webhook", "indonesian"]
}